<back-head></back-head>
<div id="speColumn">
	<div class="head">
		<div class="hotCates">
			<a href="javascript:void(0);" style="background-image: url({{value.img}});" class="hot-cate" ng-click="jump2column(value)" ng-repeat="value in hotCates">
				{{value.title}}
			</a>
		</div>
		<div class="filter clear" >
			<a href="" class="active">综合</a>
			<a href="">销量</a>
			<a href="">新品</a>
			<a href="">价格<i class="iconfont icon-xiangxia"></i></a>
		</div>
		<div class="price-filter">
			<div class="price-static">
				<a href="">55-70</a>
				<a href="">70-110</a>
				<a href="">110-140</a>
			</div>
			<div class="price-custom">
				<span>区间(元)</span>
				<input type="text" name="" id="" value="" />
				<span>-</span>
				<input type="text" name="" id="" value="" />
				<input type="button" name="" id="" value="确认" />
			</div>
		</div>
	</div>
</div>
