<div class="head">
	<div class="head-back"><a href="" ng-click='goback()'><i class="iconfont icon-back-copy"></i></a></div>
	<div class="head-title">购物车</div>
	<div class="head-right"><span>编辑</span><a href=""><i class="iconfont icon-buchongiconsvg02"></i></a></div>
</div>
<div class="emptycart">
	<p><i class="iconfont icon-gouwuchekong"></i></p>
	<p>购物车还是空的哦~</p>
	<div class="button">去逛逛</div>
</div>
<div class="shop">
	<!--<h3 class="shop-head">
		<input type="checkbox" class="shop-checkbox" ng-class={true:'shop-checkbox',false:'shop-checkboxed'}[choose0] ng-click='change0(type)'>
		<a href="">第一个店铺</a>
		<span>领券&nbsp></span>
	</h3>-->
	<li class="goodslist" ng-repeat='item in arrgoodslist track by $index'>
		<input type="checkbox" ng-class={true:'goodslist-check',false:'goodslist-checked'}[choose[$index]] ng-click='change($index)'>
		<a href="" class="goodslist-pic"><img src="{{item.img}}" alt="" /></a>
		<div class="goodslist-de">
			<div class="goodslist-desc">
				<a href=""><h5>{{item.title}}</h5></a>
				<p class="goodslist-desc-ts">颜色：黑色；尺码：均码；</p>
				<div class="goodslist-desc-price">
				<span class="goodslist-desc-price-now">￥{{item.price}}</span>
				<span class="goodslist-desc-price-origin">{{item.orgPrice}}</span>
				<span class="goodslist-desc-count">x5</span>
				</div>
			</div>
		</div>
	</li> 
</div>
<div class="checkout-normal">
	<div class="checkout-checkbox">
		<input type="checkbox" name="c-all" class="checkout-checkbox-all">
		<span>全选(</span><span class="total-num">0</span><span>)</span>
	</div>
	<div class="checkout-counter">￥<span class="money">0.00</span></div>
	<div class="checkout-select">去结算</div>
</div>