<back-head></back-head>
<div id="products-detail">
	<div class="head">
		<div class="head-imgs">
			<img src="http://s3.mogucdn.com/mlcdn/c45406/170614_00c4923171dhb2jd8l6hgl1fh710f_640x960.jpg_468x468.webp" />
			<div class="image-count">
				<span>1</span> /
				<span>1</span>
			</div>
		</div>
		<div class="prodcut-info-desc">
			<h3>时尚套装 夏季新款韩版休闲显瘦荷叶边印花无袖背心短裤女两件套</h3>
			<div class="price clear">
				<div class="fl current-price">
					<span class="fl">￥</span>
					<b>79.10</b>
				</div>
				<div class="fl">
					<p class="old-price">￥113.00</p>
					<p class="price-desc">7折</p>
				</div>
			</div>
			<div class="express-service">免邮费</div>
			<div class="service-explain">
				<span><i class="iconfont icon-daifukuan"></i>白付美分期购</span>
				<span><i class="iconfont icon-kefu"></i>退货补运费</span>
				<span><i class="iconfont icon-shouhoubaozhang"></i>全国包邮</span>
				<i class="iconfont icon-xiangqian"></i>
			</div>
		</div>

	</div>
	<div class="activity">
		<div class="activity-title">
			优惠活动(3)
		</div>
		<div class="activity-desc clear">
          <p class="fl">满2件立减5元，满3件立减8元，满4件立减10元</p>
          <span class="fr">查看详情<i class="iconfont icon-xiangqian"></i></span>
		</div>
	</div>
	<div class="choose-size">
		请选择：颜色 尺码
		<i class="iconfont icon-xiangqian fr"></i>
	</div>
	<div class="comment">
		<div class="comment-title clear">
			<span class="fl">买家评价28</span>
			<span class="fl">销量152</span>
			<i class="iconfont icon-xiangqian fr"></i>
		</div>
		<div class="comment-pops">
			<span>有图片(1)</span>
			<span>质量很好(1)</span>
			<span>料子很不错(1)</span>
		</div>
		<div class="comment-egs">
			<div class="comment-eg-item">
				<div class="clear">
					<div class="comment-head-border fl">
						<img src="http://s3.mogucdn.com/p1/160105/idid_ifrwem3ggvswgntfguzdambqhayde_160x160.jpg" alt="" />
					</div>
					<div class="fl">不***R</div>
				</div>
				<div>
					<p class="comment-content">物流很快，挺喜欢的，还会再来的</p>
					<p class="comment-time"></p>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	<div class="products-footer">
		<div class="up">
			<a href="" ui-sref="shopcar">快捷 <br /> 导航</a>
			<a ng-click="back2top()" class="back2top"><i class="iconfont icon-een"></i>置顶</a>
		</div>
		<div class="down clear">
			<div class="services fl">
				<a href="">
					<i class="iconfont icon-buchongiconsvg02"></i> 客服
				</a>
				<a href="">
					<i class="iconfont icon-shoucang6"></i> 收藏
				</a>
				<a href="">
					<i class="iconfont icon-dianpu4"></i> 小店
				</a>
			</div>
			<div class="buy fl">
				<a href="">加入购物车</a>
				<a href="">立即购买</a>
			</div>
		</div>
	</div>
</div>