.head{display: flex;border-bottom: 1px solid #c9c7c8;height: 1.2rem;line-height: 1.2rem;width: 100%;
background-color: #fafafa;justify-content: space-between;}
.head>div{display: inline-block;}
.head-back{width: 1.2rem;text-align: center;}
.head-back i{font-size: 0.4rem;}
.head-title{text-align: center;font-size: .48rem;color: #5e5e5e;}
.head-right{width: 1.8rem;}
.head-right span{padding: 0 0.2rem 0 0;font-size: 0.37rem;}
.head-right i{font-size: 0.5rem;}
.emptycart{position: absolute;top: 35%;width: 100%;text-align: center;}
.emptycart p:nth-child(1){position: relative;display: inline-block;width: 3.3rem;height: 3.3rem;line-height: 3.3rem;color: #fff;background: #ddd5d7;border-radius: 50%;}
.emptycart p:nth-child(1) i{font-size: 1.6rem;}
.emptycart p:nth-child(2){margin: 0.3rem 0 0.1rem;}
.button{color: white;background: #ff5777;padding: 0.25rem 0.7rem;border-radius: 0.08rem;display: inline-block;}
